<h1>
  Actor #<%= @actor.id%> details
</h1>

<a href="/actors">
  Go back
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @actor.name%>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @actor.dob%>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @actor.bio%>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @actor.image%>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @actor.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @actor.updated_at%>
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>
  </tr>


<% @films.each do |film| %>
<%# @films_id.each do |fid| %>
  <%# film = Movie.all.where({ :id => fid })[0]%>


    <tr>
      <td>
        <%= film.title %>
      </td>

      <td>
        <%= film.year %>
      </td>

      <td>

        <%= Director.all.where({ :id => film.director_id})[0].name %>
      </td>

      <td>
        <%= Character.all.where({ :movie_id => film.id}).where({ :actor_id => @actor.id})[0].name %>
      </td>

      <td>
        <a href="/movies/<%= film.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
